@charset "UTF-8";
/* License: GNU GPLv3+, Rodrigo Schwencke (Copyleft) */
/* THEME SOMBRE*/
[data-md-color-scheme=slate] {
  /* HEADERS MASSILIA */
  --h1: #d86363;
  --h2: #d86363;
  --h2-line: #db8282;
  --h2-target: #ff1947;
  --h3: #d86363;
  --h3-target: #ff1947;
  --h3-left-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/pcbLeft-dark.png");
  --h3-left-target-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/pcbLeftTarget-dark.png");
  --h3-right-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/pcbRight-dark.png");
  --h3-right-target-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/pcbRightTarget-dark.png");
  --h4: #d86363;
  --h4-target: #ff1947;
  --h4-left-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/main.png");
  --h4-left-target-img: var(--h4-left-img);
  --h5: #d86363;
  --h5-target: #ff1947;
  /* --h5-left-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/arrow-dark.png");
  --h5-left-target-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/arrow-dark-target.png"); */
  --h5-left-img: url("../images/arrow-dark.png");
  --h5-left-target-img: url("../images/arrow-dark-target.png");
  /* TABLEAUX */
  /* --table-header-background: #f53633; */
  --table-header-background: #ef5552;
  --table-header-border: #eee;
  --table-row-even-background: #e07977;
  --table-row-odd-background: hsla(var(--md-hue),15%,21%,1);
  --table-code-background: #1f2020;
  --table-link-color: #fff;
  --table-row-hover-bgcolor: #1d90ee;
  /* CODES entre ``, PAGE NORMALE, HORS CODES DANS TABLEAUX ET HORS CODES SOURCES */
  --code-normal: #1f2020;
  /* ADMONITIONS */
  --md-admonition-python-title-background: #3774a7;
  --md-admonition-python-border-color: #3c98e4;
  --md-admonition-icon-proof-color: #fff;
  --md-admonition-proof-qed-icon: url(../images/cqfd-dark.svg);
  /* EN VALEUR MASSILIA DARK*/
  --env-background-color: #8c8c9699;
  --env-border-color: #bebebeb3;
  --envpink-background-color: deeppink;
  --envpink-border-color: rgb(255, 94, 180);
  --envred-background-color: #ff0000;
  --envred-border-color: #ff3e3e;
  --envscarlet-background-color: #dc3545;
  --envscarlet-border-color: #85202a;
  --envyellow-background-color: #ffc107;
  --envyellow-border-color: #f7df97;
  --envgreen-background-color: #28a745;
  --envgreen-border-color: #6ec783;
  --envblue-background-color: #007bff;
  --envblue-border-color: #57a5f9;
  /* ENCADRE MASSILIA DARK */
  --enc-color:#fff;
  --enc-border-color:#fff;
  --enc-box-shadow: 3px 3px 5px #ccc;
  /* ROUGE BLEU TABLEAU */
  /* --rbl-color: #1d90ee; */
  --rbl-color: #34a4ff;
  --inv-rbl-color: #e92c29;
  /* COULEUR DES TEXTES CORRIGÉS */
  --correction-color: #ffcecc;
  /* FLUO */
  --fluo-jaune-background-color: #85833f;
  /* IMAGE SHADOW */
  --img-shadow-box: 5px 5px 10px #fff;
  --img-shadow-background-color: #fff;
  /* CODE HIGHLIGHT COLOR  */
  --md-code-hl-color: rgba(254, 60, 60, 0.23);
  --md-typeset-mark-color: rgba(248, 23, 245, 0.89);
}/*# sourceMappingURL=massilia-dark.css.map */