@charset "UTF-8";
/* License: GNU GPLv3+, Rodrigo Schwencke (Copyleft) */
[data-md-color-scheme=slate] {
  /* MERMAID THEME SOMBRE*/
  /* MERMAID THÈME CLAIR : VALEURS PAR DÉFAUT */
  /* CUSTOM MERMAID VARIABLES */
  --mermaid-typeset-color: #ddd;
  --mermaid-box-bgcolor: #1f2020;
  --mermaid-box-border-color: #ef5552;
  --mermaid-box-text-color: var(--mermaid-typeset-color);
  --mermaid-lines-color: var(--mermaid-typeset-color);
  /* GRAPH / FLOWCHART COLORS */
  --mermaid-flowchart-bgcolor: #1f2020;
  --mermaid-flowchart-cluster-label-color: var(--mermaid-typeset-color);
  --mermaid-cluster-subgraph-bgcolor: #1f2020a4;
  --mermaid-label-bgcolor: #1f2020;
  --mermaid-label-outside-bgcolor: #292929;
  --mermaid-label-text-color: var(--mermaid-typeset-color);
  --mermaid-label-border-color: #cecece;
  --mermaid-title-color: var(--mermaid-typeset-color);
  --mermaid-legend-color: var(--mermaid-typeset-color);
  /* SEQUENCE DIAGRAM COLORS */
  --mermaid-sequencediagram-bgcolor: var(--mermaid-flowchart-bgcolor);
  --mermaid-sequencediagram-loop-bgcolor: #578cbb98;
  --mermaid-sequencediagram-loop-border: #e77b79;
  --mermaid-sequencediagram-loop-brackettext-color: #e77b79;
  --mermaid-sequencediagram-note-bgcolor: #e77b79;
  --mermaid-sequencediagram-sequencenumber-textcolor: #292929;
  --mermaid-sequencediagram-sequencenumber-bgcolor: var(--mermaid-typeset-color);
  --mermaid-sequencediagram-actorman-head-bgcolor: var(--mermaid-flowchart-bgcolor);
  --mermaid-sequencediagram-actorman-line: var(--mermaid-box-border-color);
  /* CLASS DIAGRAM COLORS */
  --mermaid-classdiagram-bgcolor: #1f2020a4;
  /* STATE DIAGRAM COLORS */
  --mermaid-statediagram-title-bgcolor: #1f2020;
  --mermaid-statediagram-inner-bgcolor: #3b3b3b;
  --mermaid-statediagram-label-outside-bgcolor: #292929;
  --mermaid-statediagram-box-bgcolor: #1f2020;
  --mermaid-statediagram-cluster-divider: #e77b79;
  --mermaid-statediagram-cluster-alt-inner-bgcolor: #5b5b5b;
  --mermaid-statediagram-clusters-note-rect-bgcolor: none;
  --mermaid-statediagram-clusters-note-rect-border: none;
  --mermaid-statediagram-note-bgcolor: #be5c5a;
  /* ER DIAGRAM COLORS */
  --mermaid-erdiagram-bgcolor: #1f2020;
  --mermaid-erdiagram-odd-bgcolor: #1f2020;
  --mermaid-erdiagram-even-bgcolor: #4c4e5e;
  --mermaid-erdiagram-labelbox-bgcolor: #1f2020a4;
  /* GANTT COLORS */
  --mermaid-gantt-section-color: #ddd;
  /* --mermaid-gantt-section-bgcolor: rgba(90, 166, 253, 0.568); */
  --mermaid-gantt-done-task-color: #1fad36;
  --mermaid-gantt-active-task-color: #da860a;
  --mermaid-gantt-future-task-color: #d85b56;
  --mermaid-gantt-exclude-range: #f7a0ff;
  /* PIE CHART */
  --mermaid-box-stroke-width: 2px;
  /* --mermaid-classdiagram-stroke-width: calc(var(--mermaid-box-stroke-width)/1.2); */
  --mermaid-classdiagram-stroke-width: 1.2px;
  --mermaid-lines-stroke-width: 2px;
  --mermaid-er-relationship-stroke-width: 1.2px;
  --mermaid-relation-stroke-width: 1.1px;
}/*# sourceMappingURL=massilia-mermaid-dark.css.map */