@charset "UTF-8";
/* License: GNU GPLv3+, Rodrigo Schwencke (Copyleft) */
:root {
  /* ROUGE BLEU TABLEAU */
  --rb-color: #ee3939;
  --rb-color-alpha: rgba(var(--rb-color), 0.5);
  --inv-rb-color: #34a4ff;
  --md-admonition-proof-qed-icon: url(../images/cqfd-light.svg);
  --md-admonition-proof-dashed-border-color: rgb(170,170,170);
}

/* ======================================================= */
/*                   MATHS ADMONITIONS                     */
/* ======================================================= */
.md-typeset .admonition {
  font-size: 0.75rem;
}

/* def - DEFINITION */
:root {
  --md-admonition-icon--def: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book-open" class="svg-inline--fa fa-book-open fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M542.22 32.05c-54.8 3.11-163.72 14.43-230.96 55.59-4.64 2.84-7.27 7.89-7.27 13.17v363.87c0 11.55 12.63 18.85 23.28 13.49 69.18-34.82 169.23-44.32 218.7-46.92 16.89-.89 30.02-14.43 30.02-30.66V62.75c.01-17.71-15.35-31.74-33.77-30.7zM264.73 87.64C197.5 46.48 88.58 35.17 33.78 32.05 15.36 31.01 0 45.04 0 62.75V400.6c0 16.24 13.13 29.78 30.02 30.66 49.49 2.6 149.59 12.11 218.77 46.95 10.62 5.35 23.21-1.94 23.21-13.46V100.63c0-5.29-2.62-10.14-7.27-12.99z"></path></svg>');
  --md-admonition-icon--déf: var(--md-admonition-icon--def);
  --md-admonition-icon--definition: var(--md-admonition-icon--def);
  --md-admonition-icon--définition: var(--md-admonition-icon--def);
}

.md-typeset .admonition.def,
.md-typeset details.def,
.md-typeset .admonition.déf,
.md-typeset details.déf,
.md-typeset .admonition.definition,
.md-typeset details.definition,
.md-typeset .admonition.définition,
.md-typeset details.définition {
  border-color: rgb(43, 155, 70);
}

.md-typeset .def > .admonition-title,
.md-typeset .def > summary,
.md-typeset .déf > .admonition-title,
.md-typeset .déf > summary,
.md-typeset .definition > .admonition-title,
.md-typeset .definition > summary,
.md-typeset .définition > .admonition-title,
.md-typeset .définition > summary {
  /* background-color: rgba(43, 155, 70, 0.15); */
  background-color: rgba(38, 226, 82, 0.212);
  border-color: rgb(43, 155, 70);
}

.md-typeset .def > .admonition-title::before,
.md-typeset .def > summary::before,
.md-typeset .déf > .admonition-title::before,
.md-typeset .déf > summary::before,
.md-typeset .definition > .admonition-title::before,
.md-typeset .definition > summary::before,
.md-typeset .définition > .admonition-title::before,
.md-typeset .définition > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--def);
          mask-image: var(--md-admonition-icon--def);
}

/* lem - LEMME */
:root {
  --md-admonition-icon--lem: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="jedi" class="svg-inline--fa fa-jedi fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M535.95308,352c-42.64069,94.17188-137.64086,160-247.9848,160q-6.39844,0-12.84377-.29688C171.15558,506.9375,81.26481,442.23438,40.01474,352H79.93668L21.3272,293.40625a264.82522,264.82522,0,0,1-5.10938-39.42187,273.6653,273.6653,0,0,1,.5-29.98438H63.93665L22.546,182.625A269.79782,269.79782,0,0,1,130.51489,20.54688a16.06393,16.06393,0,0,1,9.28127-3,16.36332,16.36332,0,0,1,13.5,7.25,16.02739,16.02739,0,0,1,1.625,15.09374,138.387,138.387,0,0,0-9.84376,51.26563c0,45.10937,21.04691,86.57813,57.71884,113.73437a16.29989,16.29989,0,0,1,1.20313,25.39063c-26.54692,23.98437-41.17194,56.5-41.17194,91.57813,0,60.03124,42.95319,110.28124,99.89079,121.92187l2.5-65.26563L238.062,397a8.33911,8.33911,0,0,1-10-.75,8.025,8.025,0,0,1-1.39063-9.9375l20.125-33.76562-42.06257-8.73438a7.9898,7.9898,0,0,1,0-15.65625l42.06257-8.71875-20.10941-33.73438a7.99122,7.99122,0,0,1,11.35939-10.71874L268.437,295.64062,279.95265,7.67188a7.97138,7.97138,0,0,1,8-7.67188h.04687a8.02064,8.02064,0,0,1,7.95314,7.70312L307.48394,295.625l30.39068-20.67188a8.08327,8.08327,0,0,1,10,.8125,7.99866,7.99866,0,0,1,1.39062,9.90626L329.12461,319.4375l42.07819,8.73438a7.99373,7.99373,0,0,1,0,15.65624l-42.07819,8.71876,20.1094,33.73437a7.97791,7.97791,0,0,1-1.32812,9.92187A8.25739,8.25739,0,0,1,337.87462,397L310.7027,378.53125l2.5,65.34375c48.48446-9.40625,87.57828-48.15625,97.31267-96.5A123.52652,123.52652,0,0,0,371.9528,230.29688a16.30634,16.30634,0,0,1,1.20313-25.42188c36.65631-27.17188,57.6876-68.60938,57.6876-113.73438a138.01689,138.01689,0,0,0-9.85939-51.3125,15.98132,15.98132,0,0,1,1.60937-15.09374,16.36914,16.36914,0,0,1,13.5-7.23438,16.02453,16.02453,0,0,1,9.25,2.98438A271.26947,271.26947,0,0,1,553.25,182.76562L511.99992,224h46.9532C559.3125,229.76562,560,235.45312,560,241.26562a270.092,270.092,0,0,1-5.125,51.85938L495.98427,352Z"></path></svg>');
  --md-admonition-icon--lemme: var(--md-admonition-icon--lem);
  --md-admonition-icon--lemma: var(--md-admonition-icon--lem);
}

.md-typeset .admonition.lem,
.md-typeset details.lem,
.md-typeset .admonition.lemme,
.md-typeset details.lemme,
.md-typeset .admonition.lemma,
.md-typeset details.lemma {
  border-color: rgb(102, 174, 223);
}

.md-typeset .lem > .admonition-title,
.md-typeset .lem > summary,
.md-typeset .lemme > .admonition-title,
.md-typeset .lemme > summary,
.md-typeset .lemma > .admonition-title,
.md-typeset .lemma > summary {
  background-color: rgba(102, 174, 223, 0.15);
  border-color: rgb(102, 174, 223);
}

.md-typeset .lem > .admonition-title::before,
.md-typeset .lem > summary::before,
.md-typeset .lemme > .admonition-title::before,
.md-typeset .lemme > summary::before,
.md-typeset .lemma > .admonition-title::before,
.md-typeset .lemma > summary::before {
  background-color: rgb(26, 153, 238);
  -webkit-mask-image: var(--md-admonition-icon--pte);
          mask-image: var(--md-admonition-icon--pte);
}

/* pte - PROPRIETE */
:root {
  --md-admonition-icon--pte: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="jedi" class="svg-inline--fa fa-jedi fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M535.95308,352c-42.64069,94.17188-137.64086,160-247.9848,160q-6.39844,0-12.84377-.29688C171.15558,506.9375,81.26481,442.23438,40.01474,352H79.93668L21.3272,293.40625a264.82522,264.82522,0,0,1-5.10938-39.42187,273.6653,273.6653,0,0,1,.5-29.98438H63.93665L22.546,182.625A269.79782,269.79782,0,0,1,130.51489,20.54688a16.06393,16.06393,0,0,1,9.28127-3,16.36332,16.36332,0,0,1,13.5,7.25,16.02739,16.02739,0,0,1,1.625,15.09374,138.387,138.387,0,0,0-9.84376,51.26563c0,45.10937,21.04691,86.57813,57.71884,113.73437a16.29989,16.29989,0,0,1,1.20313,25.39063c-26.54692,23.98437-41.17194,56.5-41.17194,91.57813,0,60.03124,42.95319,110.28124,99.89079,121.92187l2.5-65.26563L238.062,397a8.33911,8.33911,0,0,1-10-.75,8.025,8.025,0,0,1-1.39063-9.9375l20.125-33.76562-42.06257-8.73438a7.9898,7.9898,0,0,1,0-15.65625l42.06257-8.71875-20.10941-33.73438a7.99122,7.99122,0,0,1,11.35939-10.71874L268.437,295.64062,279.95265,7.67188a7.97138,7.97138,0,0,1,8-7.67188h.04687a8.02064,8.02064,0,0,1,7.95314,7.70312L307.48394,295.625l30.39068-20.67188a8.08327,8.08327,0,0,1,10,.8125,7.99866,7.99866,0,0,1,1.39062,9.90626L329.12461,319.4375l42.07819,8.73438a7.99373,7.99373,0,0,1,0,15.65624l-42.07819,8.71876,20.1094,33.73437a7.97791,7.97791,0,0,1-1.32812,9.92187A8.25739,8.25739,0,0,1,337.87462,397L310.7027,378.53125l2.5,65.34375c48.48446-9.40625,87.57828-48.15625,97.31267-96.5A123.52652,123.52652,0,0,0,371.9528,230.29688a16.30634,16.30634,0,0,1,1.20313-25.42188c36.65631-27.17188,57.6876-68.60938,57.6876-113.73438a138.01689,138.01689,0,0,0-9.85939-51.3125,15.98132,15.98132,0,0,1,1.60937-15.09374,16.36914,16.36914,0,0,1,13.5-7.23438,16.02453,16.02453,0,0,1,9.25,2.98438A271.26947,271.26947,0,0,1,553.25,182.76562L511.99992,224h46.9532C559.3125,229.76562,560,235.45312,560,241.26562a270.092,270.092,0,0,1-5.125,51.85938L495.98427,352Z"></path></svg>');
  --md-admonition-icon--propriété: var(--md-admonition-icon--pte);
  --md-admonition-icon--propriete: var(--md-admonition-icon--pte);
}

.md-typeset .admonition.pte,
.md-typeset details.pte,
.md-typeset .admonition.pté,
.md-typeset details.pté,
.md-typeset .admonition.propriete,
.md-typeset details.propriete,
.md-typeset .admonition.propriété,
.md-typeset details.propriété,
.md-typeset .admonition.property,
.md-typeset details.property {
  border-color: rgb(102, 174, 223);
}

.md-typeset .pte > .admonition-title,
.md-typeset .pte > summary,
.md-typeset .pté > .admonition-title,
.md-typeset .pté > summary,
.md-typeset .propriete > .admonition-title,
.md-typeset .propriete > summary,
.md-typeset .propriété > .admonition-title,
.md-typeset .propriété > summary,
.md-typeset .property > .admonition-title,
.md-typeset .property > summary {
  background-color: rgba(102, 174, 223, 0.15);
  border-color: rgb(102, 174, 223);
}

.md-typeset .pte > .admonition-title::before,
.md-typeset .pte > summary::before,
.md-typeset .pté > .admonition-title::before,
.md-typeset .pté > summary::before,
.md-typeset .propriete > .admonition-title::before,
.md-typeset .propriete > summary::before,
.md-typeset .propriété > .admonition-title::before,
.md-typeset .propriété > summary::before,
.md-typeset .property > .admonition-title::before,
.md-typeset .property > summary::before {
  background-color: rgb(26, 153, 238);
  -webkit-mask-image: var(--md-admonition-icon--pte);
          mask-image: var(--md-admonition-icon--pte);
}

/* prop - PROPOSITION */
:root {
  --md-admonition-icon--prop: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="jedi" class="svg-inline--fa fa-jedi fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M535.95308,352c-42.64069,94.17188-137.64086,160-247.9848,160q-6.39844,0-12.84377-.29688C171.15558,506.9375,81.26481,442.23438,40.01474,352H79.93668L21.3272,293.40625a264.82522,264.82522,0,0,1-5.10938-39.42187,273.6653,273.6653,0,0,1,.5-29.98438H63.93665L22.546,182.625A269.79782,269.79782,0,0,1,130.51489,20.54688a16.06393,16.06393,0,0,1,9.28127-3,16.36332,16.36332,0,0,1,13.5,7.25,16.02739,16.02739,0,0,1,1.625,15.09374,138.387,138.387,0,0,0-9.84376,51.26563c0,45.10937,21.04691,86.57813,57.71884,113.73437a16.29989,16.29989,0,0,1,1.20313,25.39063c-26.54692,23.98437-41.17194,56.5-41.17194,91.57813,0,60.03124,42.95319,110.28124,99.89079,121.92187l2.5-65.26563L238.062,397a8.33911,8.33911,0,0,1-10-.75,8.025,8.025,0,0,1-1.39063-9.9375l20.125-33.76562-42.06257-8.73438a7.9898,7.9898,0,0,1,0-15.65625l42.06257-8.71875-20.10941-33.73438a7.99122,7.99122,0,0,1,11.35939-10.71874L268.437,295.64062,279.95265,7.67188a7.97138,7.97138,0,0,1,8-7.67188h.04687a8.02064,8.02064,0,0,1,7.95314,7.70312L307.48394,295.625l30.39068-20.67188a8.08327,8.08327,0,0,1,10,.8125,7.99866,7.99866,0,0,1,1.39062,9.90626L329.12461,319.4375l42.07819,8.73438a7.99373,7.99373,0,0,1,0,15.65624l-42.07819,8.71876,20.1094,33.73437a7.97791,7.97791,0,0,1-1.32812,9.92187A8.25739,8.25739,0,0,1,337.87462,397L310.7027,378.53125l2.5,65.34375c48.48446-9.40625,87.57828-48.15625,97.31267-96.5A123.52652,123.52652,0,0,0,371.9528,230.29688a16.30634,16.30634,0,0,1,1.20313-25.42188c36.65631-27.17188,57.6876-68.60938,57.6876-113.73438a138.01689,138.01689,0,0,0-9.85939-51.3125,15.98132,15.98132,0,0,1,1.60937-15.09374,16.36914,16.36914,0,0,1,13.5-7.23438,16.02453,16.02453,0,0,1,9.25,2.98438A271.26947,271.26947,0,0,1,553.25,182.76562L511.99992,224h46.9532C559.3125,229.76562,560,235.45312,560,241.26562a270.092,270.092,0,0,1-5.125,51.85938L495.98427,352Z"></path></svg>');
  --md-admonition-icon--proposition: var(--md-admonition-icon--prop);
}

.md-typeset .admonition.prop,
.md-typeset details.prop,
.md-typeset .admonition.proposition,
.md-typeset details.proposition {
  border-color: rgb(102, 174, 223);
}

.md-typeset .prop > .admonition-title,
.md-typeset .prop > summary,
.md-typeset .proposition > .admonition-title,
.md-typeset .proposition > summary {
  background-color: rgba(102, 174, 223, 0.15);
  border-color: rgb(102, 174, 223);
}

.md-typeset .prop > .admonition-title::before,
.md-typeset .prop > summary::before,
.md-typeset .proposition > .admonition-title::before,
.md-typeset .proposition > summary::before {
  background-color: rgb(26, 153, 238);
  -webkit-mask-image: var(--md-admonition-icon--prop);
  mask-image: var(--md-admonition-icon--prop);
}

/* thm - THEOREME */
:root {
  --md-admonition-icon--thm: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="galactic-senate" class="svg-inline--fa fa-galactic-senate fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M249.86 33.48v26.07C236.28 80.17 226 168.14 225.39 274.9c11.74-15.62 19.13-33.33 19.13-48.24v-16.88c-.03-5.32.75-10.53 2.19-15.65.65-2.14 1.39-4.08 2.62-5.82 1.23-1.75 3.43-3.79 6.68-3.79 3.24 0 5.45 2.05 6.68 3.79 1.23 1.75 1.97 3.68 2.62 5.82 1.44 5.12 2.22 10.33 2.19 15.65v16.88c0 14.91 7.39 32.62 19.13 48.24-.63-106.76-10.91-194.73-24.49-215.35V33.48h-12.28zm-26.34 147.77c-9.52 2.15-18.7 5.19-27.46 9.08 8.9 16.12 9.76 32.64 1.71 37.29-8 4.62-21.85-4.23-31.36-19.82-11.58 8.79-21.88 19.32-30.56 31.09 14.73 9.62 22.89 22.92 18.32 30.66-4.54 7.7-20.03 7.14-35.47-.96-5.78 13.25-9.75 27.51-11.65 42.42 9.68.18 18.67 2.38 26.18 6.04 17.78-.3 32.77-1.96 40.49-4.22 5.55-26.35 23.02-48.23 46.32-59.51.73-25.55 1.88-49.67 3.48-72.07zm64.96 0c1.59 22.4 2.75 46.52 3.47 72.07 23.29 11.28 40.77 33.16 46.32 59.51 7.72 2.26 22.71 3.92 40.49 4.22 7.51-3.66 16.5-5.85 26.18-6.04-1.9-14.91-5.86-29.17-11.65-42.42-15.44 8.1-30.93 8.66-35.47.96-4.57-7.74 3.6-21.05 18.32-30.66-8.68-11.77-18.98-22.3-30.56-31.09-9.51 15.59-23.36 24.44-31.36 19.82-8.05-4.65-7.19-21.16 1.71-37.29a147.49 147.49 0 0 0-27.45-9.08zm-32.48 8.6c-3.23 0-5.86 8.81-6.09 19.93h-.05v16.88c0 41.42-49.01 95.04-93.49 95.04-52 0-122.75-1.45-156.37 29.17v2.51c9.42 17.12 20.58 33.17 33.18 47.97C45.7 380.26 84.77 360.4 141.2 360c45.68 1.02 79.03 20.33 90.76 40.87.01.01-.01.04 0 .05 7.67 2.14 15.85 3.23 24.04 3.21 8.19.02 16.37-1.07 24.04-3.21.01-.01-.01-.04 0-.05 11.74-20.54 45.08-39.85 90.76-40.87 56.43.39 95.49 20.26 108.02 41.35 12.6-14.8 23.76-30.86 33.18-47.97v-2.51c-33.61-30.62-104.37-29.17-156.37-29.17-44.48 0-93.49-53.62-93.49-95.04v-16.88h-.05c-.23-11.12-2.86-19.93-6.09-19.93zm0 96.59c22.42 0 40.6 18.18 40.6 40.6s-18.18 40.65-40.6 40.65-40.6-18.23-40.6-40.65c0-22.42 18.18-40.6 40.6-40.6zm0 7.64c-18.19 0-32.96 14.77-32.96 32.96S237.81 360 256 360s32.96-14.77 32.96-32.96-14.77-32.96-32.96-32.96zm0 6.14c14.81 0 26.82 12.01 26.82 26.82s-12.01 26.82-26.82 26.82-26.82-12.01-26.82-26.82 12.01-26.82 26.82-26.82zm-114.8 66.67c-10.19.07-21.6.36-30.5 1.66.43 4.42 1.51 18.63 7.11 29.76 9.11-2.56 18.36-3.9 27.62-3.9 41.28.94 71.48 34.35 78.26 74.47l.11 4.7c10.4 1.91 21.19 2.94 32.21 2.94 11.03 0 21.81-1.02 32.21-2.94l.11-4.7c6.78-40.12 36.98-73.53 78.26-74.47 9.26 0 18.51 1.34 27.62 3.9 5.6-11.13 6.68-25.34 7.11-29.76-8.9-1.3-20.32-1.58-30.5-1.66-18.76.42-35.19 4.17-48.61 9.67-12.54 16.03-29.16 30.03-49.58 33.07-.09.02-.17.04-.27.05-.05.01-.11.04-.16.05-5.24 1.07-10.63 1.6-16.19 1.6-5.55 0-10.95-.53-16.19-1.6-.05-.01-.11-.04-.16-.05-.1-.02-.17-.04-.27-.05-20.42-3.03-37.03-17.04-49.58-33.07-13.42-5.49-29.86-9.25-48.61-9.67z"></path></svg>');
  --md-admonition-icon--théorème: var(--md-admonition-icon--thm);
  --md-admonition-icon--theoreme: var(--md-admonition-icon--thm);
  --md-admonition-icon--theorem: var(--md-admonition-icon--thm);
}

.md-typeset .admonition.thm,
.md-typeset details.thm,
.md-typeset .admonition.théorème,
.md-typeset details.théorème,
.md-typeset .admonition.theoreme,
.md-typeset details.theoreme,
.md-typeset .admonition.theorem,
.md-typeset details.theorem {
  border-color: rgb(250, 156, 156);
}

.md-typeset .thm > .admonition-title,
.md-typeset .thm > summary,
.md-typeset .théorème > .admonition-title,
.md-typeset .théorème > summary,
.md-typeset .theoreme > .admonition-title,
.md-typeset .theoreme > summary,
.md-typeset .theorem > .admonition-title,
.md-typeset .theorem > summary {
  background-color: rgba(250, 156, 156, 0.25);
  border-color: rgb(250, 156, 156);
}

.md-typeset .thm > .admonition-title::before,
.md-typeset .thm > summary::before,
.md-typeset .théorème > .admonition-title::before,
.md-typeset .théorème > summary::before,
.md-typeset .theoreme > .admonition-title::before,
.md-typeset .theoreme > summary::before,
.md-typeset .theorem > .admonition-title::before,
.md-typeset .theorem > summary::before {
  background-color: rgb(250, 74, 74);
  -webkit-mask-image: var(--md-admonition-icon--thm);
          mask-image: var(--md-admonition-icon--thm);
}

/* Proof - Preuve - Demo - Démo - Démonstration - Demonstration */
:root {
  --md-admonition-icon--proof: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300.471px" height="300.471px" viewBox="0 0 300.471 300.471" style="enable-background:new 0 0 300.471 300.471;" xml:space="preserve"><g><path d="M32.487,274.56h26.339c4.766,0,8.642-3.878,8.642-8.642v-26.336c0-4.77-3.876-8.648-8.642-8.648H32.487c-4.767,0-8.642,3.879-8.642,8.648v26.336C23.845,270.682,27.721,274.56,32.487,274.56z"/><path d="M171.919,67.767h26.341c4.764,0,8.637-3.879,8.637-8.645V32.786c0-4.767-3.873-8.645-8.637-8.645h-26.341c-4.77,0-8.643,3.878-8.643,8.645v26.336C163.281,63.888,167.16,67.767,171.919,67.767z"/><path d="M102.203,136.697h26.338c4.767,0,8.642-3.878,8.642-8.645v-26.336c0-4.767-3.875-8.645-8.642-8.645h-26.338c-4.767,0-8.643,3.878-8.643,8.645v26.336C93.561,132.819,97.442,136.697,102.203,136.697z"/><path d="M243.402,205.629h26.342c4.769,0,8.642-3.879,8.642-8.643V170.65c0-4.77-3.873-8.647-8.642-8.647h-26.342c-4.764,0-8.637,3.878-8.637,8.647v26.336C234.766,201.75,238.644,205.629,243.402,205.629z"/><path d="M0,26.512v247.447c0,14.639,11.871,26.512,26.512,26.512h247.447c14.639,0,26.512-11.873,26.512-26.512V26.512C300.471,11.874,288.598,0,273.959,0H26.512C11.865,0,0,11.869,0,26.512z M229.463,32.786c0-7.7,6.245-13.947,13.95-13.947h26.336c7.699,0,13.944,6.242,13.944,13.947v26.336c0,7.7-6.239,13.947-13.944,13.947h-26.336c-7.7,0-13.95-6.243-13.95-13.947V32.786z M229.463,101.717c0-7.7,6.245-13.947,13.95-13.947h26.336c7.699,0,13.944,6.242,13.944,13.947v26.336c0,7.7-6.239,13.947-13.944,13.947h-26.336c-7.7,0-13.95-6.242-13.95-13.947V101.717z M229.463,170.65c0-7.705,6.245-13.949,13.95-13.949h26.336c7.699,0,13.944,6.244,13.944,13.949v26.336c0,7.694-6.239,13.944-13.944,13.944h-26.336c-7.7,0-13.95-6.239-13.95-13.944V170.65z M229.463,239.582c0-7.705,6.245-13.95,13.95-13.95h26.336c7.699,0,13.944,6.245,13.944,13.95v26.336c0,7.694-6.239,13.944-13.944,13.944h-26.336c-7.7,0-13.95-6.239-13.95-13.944V239.582z M157.979,32.786c0-7.7,6.239-13.947,13.944-13.947h26.336c7.7,0,13.95,6.242,13.95,13.947v26.336c0,7.7-6.245,13.947-13.95,13.947h-26.341c-7.7,0-13.945-6.243-13.945-13.947V32.786H157.979z M157.979,101.717c0-7.7,6.239-13.947,13.944-13.947h26.336c7.7,0,13.95,6.242,13.95,13.947v26.336c0,7.7-6.245,13.947-13.95,13.947h-26.341c-7.7,0-13.945-6.242-13.945-13.947v-26.336H157.979z M157.979,170.65c0-7.705,6.239-13.949,13.944-13.949h26.336c7.7,0,13.95,6.244,13.95,13.949v26.336c0,7.694-6.245,13.944-13.95,13.944h-26.341c-7.7,0-13.945-6.239-13.945-13.944V170.65H157.979z M157.979,239.582c0-7.705,6.239-13.95,13.944-13.95h26.336c7.7,0,13.95,6.245,13.95,13.95v26.336c0,7.694-6.245,13.944-13.95,13.944h-26.341c-7.7,0-13.945-6.239-13.945-13.944v-26.336H157.979z M88.258,32.786c0-7.7,6.24-13.947,13.945-13.947h26.338c7.697,0,13.945,6.242,13.945,13.947v26.336c0,7.7-6.242,13.947-13.945,13.947h-26.338c-7.697,0-13.945-6.243-13.945-13.947V32.786z M88.258,101.717c0-7.7,6.24-13.947,13.945-13.947h26.338c7.697,0,13.945,6.242,13.945,13.947v26.336c0,7.7-6.242,13.947-13.945,13.947h-26.338c-7.697,0-13.945-6.242-13.945-13.947V101.717z M88.258,170.65c0-7.705,6.24-13.949,13.945-13.949h26.338c7.697,0,13.945,6.244,13.945,13.949v26.336c0,7.694-6.242,13.944-13.945,13.944h-26.338c-7.697,0-13.945-6.239-13.945-13.944V170.65z M88.258,239.582c0-7.705,6.24-13.95,13.945-13.95h26.338c7.697,0,13.945,6.245,13.945,13.95v26.336c0,7.694-6.242,13.944-13.945,13.944h-26.338c-7.697,0-13.945-6.239-13.945-13.944V239.582z M18.543,32.786c0-7.7,6.239-13.947,13.944-13.947h26.339c7.697,0,13.944,6.242,13.944,13.947v26.336c0,7.7-6.242,13.947-13.944,13.947H32.487c-7.7,0-13.944-6.243-13.944-13.947V32.786z M18.543,101.717c0-7.7,6.239-13.947,13.944-13.947h26.339c7.697,0,13.944,6.242,13.944,13.947v26.336c0,7.7-6.242,13.947-13.944,13.947H32.487c-7.7,0-13.944-6.242-13.944-13.947V101.717z M18.543,170.65c0-7.705,6.239-13.949,13.944-13.949h26.339c7.697,0,13.944,6.244,13.944,13.949v26.336c0,7.694-6.242,13.944-13.944,13.944H32.487c-7.7,0-13.944-6.239-13.944-13.944V170.65z M18.543,239.582c0-7.705,6.239-13.95,13.944-13.95h26.339c7.697,0,13.944,6.245,13.944,13.95v26.336c0,7.694-6.242,13.944-13.944,13.944H32.487c-7.7,0-13.944-6.239-13.944-13.944V239.582z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
  --md-admonition-icon--preuve: var(--md-admonition-icon--proof);
  --md-admonition-icon--demo: var(--md-admonition-icon--proof);
  --md-admonition-icon--démo: var(--md-admonition-icon--proof);
  --md-admonition-icon--demonstration: var(--md-admonition-icon--proof);
  --md-admonition-icon--démonstration: var(--md-admonition-icon--proof);
  --md-admonition-icon-proof-color: #000;
}

.md-typeset .admonition.proof,
.md-typeset details.proof,
.md-typeset .admonition.preuve,
.md-typeset details.preuve,
.md-typeset .admonition.démo,
.md-typeset details.démo,
.md-typeset .admonition.demo,
.md-typeset details.demo,
.md-typeset .admonition.démonstration,
.md-typeset details.démonstration,
.md-typeset .admonition.demonstration,
.md-typeset details.demonstration {
  border-color: var(--md-admonition-proof-dashed-border-color);
  border-style: dashed;
}

.md-typeset .proof,
.md-typeset .preuve,
.md-typeset .démo,
.md-typeset .demo,
.md-typeset .démonstration,
.md-typeset .demonstration {
  position: relative;
}

.md-typeset .proof::after,
.md-typeset .preuve::after,
.md-typeset .démo::after,
.md-typeset .demo::after,
.md-typeset .démonstration::after,
.md-typeset .demonstration::after {
  content: "";
  display: inline-block;
  border-bottom: 4px solid var(--md-admonition-proof-dashed-border-color);
  border-style: dashed;
  width: min(50px, 7%);
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.md-typeset details.proof::after,
.md-typeset details.preuve::after,
.md-typeset details.démo::after,
.md-typeset details.demo::after,
.md-typeset details.démonstration::after,
.md-typeset details.demonstration::after {
  content: "";
  display: inline-block;
  border-bottom: 4px solid var(--md-admonition-proof-dashed-border-color);
  width: min(50px, 7%);
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.md-typeset .proof > p:last-of-type::after,
.md-typeset details.proof > p:last-of-type::after,
.md-typeset .preuve > p:last-of-type::after,
.md-typeset details.preuve > p:last-of-type::after,
.md-typeset .démo > p:last-of-type::after,
.md-typeset details.démo > p:last-of-type::after,
.md-typeset .demo > p:last-of-type::after,
.md-typeset details.demo > p:last-of-type::after,
.md-typeset .démonstration > p:last-of-type::after,
.md-typeset details.démonstration > p:last-of-type::after,
.md-typeset .demonstration > p:last-of-type::after,
.md-typeset details.demonstration > p:last-of-type::after {
  content: "";
  display: inline-block;
  background-image: var(--md-admonition-proof-qed-icon);
  background-size: 20px 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 2px;
  bottom: 2px;
}

.md-typeset .proof > .admonition-title,
.md-typeset .proof > summary,
.md-typeset .preuve > .admonition-title,
.md-typeset .preuve > summary,
.md-typeset .démo > .admonition-title,
.md-typeset .démo > summary,
.md-typeset .demo > .admonition-title,
.md-typeset .demo > summary,
.md-typeset .demonstration > .admonition-title,
.md-typeset .demonstration > summary,
.md-typeset .démonstration > .admonition-title,
.md-typeset .démonstration > summary {
  background-color: rgba(127, 127, 127, 0.25);
  border-color: rgb(117, 117, 117);
}

.md-typeset .proof > .admonition-title::before,
.md-typeset .proof > summary::before,
.md-typeset .preuve > .admonition-title::before,
.md-typeset .preuve > summary::before,
.md-typeset .démo > .admonition-title::before,
.md-typeset .démo > summary::before,
.md-typeset .demo > .admonition-title::before,
.md-typeset .demo > summary::before,
.md-typeset .démonstration > .admonition-title::before,
.md-typeset .démonstration > summary::before,
.md-typeset .demonstration > .admonition-title::before,
.md-typeset .demonstration > summary::before {
  background-color: var(--md-admonition-icon-proof-color);
  -webkit-mask-image: var(--md-admonition-icon--proof);
          mask-image: var(--md-admonition-icon--proof);
}

/* PYTHON */
:root {
  --md-admonition-icon--python: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4.1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8.1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6c-11.1 0-20.1-9.1-20.1-20.3.1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z"/></svg>');
  /* --md-admonition-icon--python: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="python" class="svg-inline--fa fa-python fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4.1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8.1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6c-11.1 0-20.1-9.1-20.1-20.3.1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z"></path></svg>'); */
  --md-admonition-icon--py: var(--md-admonition-icon--python);
}

.md-typeset .admonition.python,
.md-typeset details.python {
  border-color: var(--md-admonition-python-border-color);
}

.md-typeset .python > .admonition-title,
.md-typeset .python > summary {
  background-color: var(--md-admonition-python-title-background);
  border-color: rgb(255, 211, 67);
}

.md-typeset .python > .admonition-title::before,
.md-typeset .python > summary::before {
  background-color: rgb(255, 211, 67);
  -webkit-mask-image: var(--md-admonition-icon--python);
          mask-image: var(--md-admonition-icon--python);
}

/* ======================================================= */
/*              GENERAL EDUCATIONAL ADMONITIONS            */
/* ======================================================= */
/* ex - exo - EXERCICES */
:root {
  /* --md-admonition-icon--ex: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="steam-symbol" class="svg-inline--fa fa-steam-symbol fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M395.5 177.5c0 33.8-27.5 61-61 61-33.8 0-61-27.3-61-61s27.3-61 61-61c33.5 0 61 27.2 61 61zm52.5.2c0 63-51 113.8-113.7 113.8L225 371.3c-4 43-40.5 76.8-84.5 76.8-40.5 0-74.7-28.8-83-67L0 358V250.7L97.2 290c15.1-9.2 32.2-13.3 52-11.5l71-101.7c.5-62.3 51.5-112.8 114-112.8C397 64 448 115 448 177.7zM203 363c0-34.7-27.8-62.5-62.5-62.5-4.5 0-9 .5-13.5 1.5l26 10.5c25.5 10.2 38 39 27.7 64.5-10.2 25.5-39.2 38-64.7 27.5-10.2-4-20.5-8.3-30.7-12.2 10.5 19.7 31.2 33.2 55.2 33.2 34.7 0 62.5-27.8 62.5-62.5zm207.5-185.3c0-42-34.3-76.2-76.2-76.2-42.3 0-76.5 34.2-76.5 76.2 0 42.2 34.3 76.2 76.5 76.2 41.9.1 76.2-33.9 76.2-76.2z"></path></svg>'); */
  --md-admonition-icon--ex: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="m512.1 191-8.2 14.3c-3 5.3-9.4 7.5-15.1 5.4-11.8-4.4-22.6-10.7-32.1-18.6-4.6-3.8-5.8-10.5-2.8-15.7l8.2-14.3c-6.9-8-12.3-17.3-15.9-27.4h-16.5c-6 0-11.2-4.3-12.2-10.3-2-12-2.1-24.6 0-37.1 1-6 6.2-10.4 12.2-10.4h16.5c3.6-10.1 9-19.4 15.9-27.4l-8.2-14.3c-3-5.2-1.9-11.9 2.8-15.7 9.5-7.9 20.4-14.2 32.1-18.6 5.7-2.1 12.1.1 15.1 5.4l8.2 14.3c10.5-1.9 21.2-1.9 31.7 0L552 6.3c3-5.3 9.4-7.5 15.1-5.4 11.8 4.4 22.6 10.7 32.1 18.6 4.6 3.8 5.8 10.5 2.8 15.7l-8.2 14.3c6.9 8 12.3 17.3 15.9 27.4h16.5c6 0 11.2 4.3 12.2 10.3 2 12 2.1 24.6 0 37.1-1 6-6.2 10.4-12.2 10.4h-16.5c-3.6 10.1-9 19.4-15.9 27.4l8.2 14.3c3 5.2 1.9 11.9-2.8 15.7-9.5 7.9-20.4 14.2-32.1 18.6-5.7 2.1-12.1-.1-15.1-5.4l-8.2-14.3c-10.4 1.9-21.2 1.9-31.7 0zm-10.5-58.8c38.5 29.6 82.4-14.3 52.8-52.8-38.5-29.7-82.4 14.3-52.8 52.8zM386.3 286.1l33.7 16.8c10.1 5.8 14.5 18.1 10.5 29.1-8.9 24.2-26.4 46.4-42.6 65.8-7.4 8.9-20.2 11.1-30.3 5.3l-29.1-16.8c-16 13.7-34.6 24.6-54.9 31.7v33.6c0 11.6-8.3 21.6-19.7 23.6-24.6 4.2-50.4 4.4-75.9 0-11.5-2-20-11.9-20-23.6V418c-20.3-7.2-38.9-18-54.9-31.7L74 403c-10 5.8-22.9 3.6-30.3-5.3-16.2-19.4-33.3-41.6-42.2-65.7-4-10.9.4-23.2 10.5-29.1l33.3-16.8c-3.9-20.9-3.9-42.4 0-63.4L12 205.8c-10.1-5.8-14.6-18.1-10.5-29 8.9-24.2 26-46.4 42.2-65.8 7.4-8.9 20.2-11.1 30.3-5.3l29.1 16.8c16-13.7 34.6-24.6 54.9-31.7V57.1c0-11.5 8.2-21.5 19.6-23.5 24.6-4.2 50.5-4.4 76-.1 11.5 2 20 11.9 20 23.6v33.6c20.3 7.2 38.9 18 54.9 31.7l29.1-16.8c10-5.8 22.9-3.6 30.3 5.3 16.2 19.4 33.2 41.6 42.1 65.8 4 10.9.1 23.2-10 29.1l-33.7 16.8c3.9 21 3.9 42.5 0 63.5zm-117.6 21.1c59.2-77-28.7-164.9-105.7-105.7-59.2 77 28.7 164.9 105.7 105.7zm243.4 182.7-8.2 14.3c-3 5.3-9.4 7.5-15.1 5.4-11.8-4.4-22.6-10.7-32.1-18.6-4.6-3.8-5.8-10.5-2.8-15.7l8.2-14.3c-6.9-8-12.3-17.3-15.9-27.4h-16.5c-6 0-11.2-4.3-12.2-10.3-2-12-2.1-24.6 0-37.1 1-6 6.2-10.4 12.2-10.4h16.5c3.6-10.1 9-19.4 15.9-27.4l-8.2-14.3c-3-5.2-1.9-11.9 2.8-15.7 9.5-7.9 20.4-14.2 32.1-18.6 5.7-2.1 12.1.1 15.1 5.4l8.2 14.3c10.5-1.9 21.2-1.9 31.7 0l8.2-14.3c3-5.3 9.4-7.5 15.1-5.4 11.8 4.4 22.6 10.7 32.1 18.6 4.6 3.8 5.8 10.5 2.8 15.7l-8.2 14.3c6.9 8 12.3 17.3 15.9 27.4h16.5c6 0 11.2 4.3 12.2 10.3 2 12 2.1 24.6 0 37.1-1 6-6.2 10.4-12.2 10.4h-16.5c-3.6 10.1-9 19.4-15.9 27.4l8.2 14.3c3 5.2 1.9 11.9-2.8 15.7-9.5 7.9-20.4 14.2-32.1 18.6-5.7 2.1-12.1-.1-15.1-5.4l-8.2-14.3c-10.4 1.9-21.2 1.9-31.7 0zM501.6 431c38.5 29.6 82.4-14.3 52.8-52.8-38.5-29.6-82.4 14.3-52.8 52.8z"/></svg>');
  --md-admonition-icon--exo: var(--md-admonition-icon--ex);
  --md-admonition-icon--exercice: var(--md-admonition-icon--ex);
}

.md-typeset .admonition.ex,
.md-typeset details.ex,
.md-typeset .admonition.exo,
.md-typeset details.exo,
.md-typeset .admonition.exercice,
.md-typeset details.exercice {
  border-color: rgb(255, 188, 81);
}

.md-typeset .ex > .admonition-title,
.md-typeset .ex > summary,
.md-typeset .exo > .admonition-title,
.md-typeset .exo > summary,
.md-typeset .exercice > .admonition-title,
.md-typeset .exercice > summary {
  background-color: rgba(255, 188, 81, 0.25);
  border-color: rgb(255, 188, 81);
}

.md-typeset .ex > .admonition-title::before,
.md-typeset .ex > summary::before,
.md-typeset .exo > .admonition-title::before,
.md-typeset .exo > summary::before,
.md-typeset .exercice > .admonition-title::before,
.md-typeset .exercice > summary::before {
  background-color: rgb(253, 167, 28);
  -webkit-mask-image: var(--md-admonition-icon--ex);
          mask-image: var(--md-admonition-icon--ex);
}

/* exp - EXEMPLE */
:root {
  --md-admonition-icon--exp: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="hand-point-right" class="svg-inline--fa fa-hand-point-right fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z"></path></svg>');
  --md-admonition-icon--exemple: var(--md-admonition-icon--exp);
  --md-admonition-icon--example: var(--md-admonition-icon--exp);
}

.md-typeset .admonition.exp,
.md-typeset details.exp,
.md-typeset .admonition.exemple,
.md-typeset details.exemple {
  border-color: rgb(246, 231, 10);
}

.md-typeset .exp > .admonition-title,
.md-typeset .exp > summary,
.md-typeset .exemple > .admonition-title,
.md-typeset .exemple > summary {
  background-color: rgba(246, 231, 81, 0.25);
  border-color: rgb(246, 231, 10);
}

.md-typeset .exp > .admonition-title::before,
.md-typeset .exp > summary::before,
.md-typeset .exemple > .admonition-title::before,
.md-typeset .exemple > summary::before {
  background-color: rgb(246, 231, 10);
  -webkit-mask-image: var(--md-admonition-icon--exp);
          mask-image: var(--md-admonition-icon--exp);
}

/* METHODES */
:root {
  --md-admonition-icon--mth: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="list-ol" class="svg-inline--fa fa-list-ol fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M61.77 401l17.5-20.15a19.92 19.92 0 0 0 5.07-14.19v-3.31C84.34 356 80.5 352 73 352H16a8 8 0 0 0-8 8v16a8 8 0 0 0 8 8h22.83a157.41 157.41 0 0 0-11 12.31l-5.61 7c-4 5.07-5.25 10.13-2.8 14.88l1.05 1.93c3 5.76 6.29 7.88 12.25 7.88h4.73c10.33 0 15.94 2.44 15.94 9.09 0 4.72-4.2 8.22-14.36 8.22a41.54 41.54 0 0 1-15.47-3.12c-6.49-3.88-11.74-3.5-15.6 3.12l-5.59 9.31c-3.72 6.13-3.19 11.72 2.63 15.94 7.71 4.69 20.38 9.44 37 9.44 34.16 0 48.5-22.75 48.5-44.12-.03-14.38-9.12-29.76-28.73-34.88zM496 224H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-160H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 320H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zM16 160h64a8 8 0 0 0 8-8v-16a8 8 0 0 0-8-8H64V40a8 8 0 0 0-8-8H32a8 8 0 0 0-7.14 4.42l-8 16A8 8 0 0 0 24 64h8v64H16a8 8 0 0 0-8 8v16a8 8 0 0 0 8 8zm-3.91 160H80a8 8 0 0 0 8-8v-16a8 8 0 0 0-8-8H41.32c3.29-10.29 48.34-18.68 48.34-56.44 0-29.06-25-39.56-44.47-39.56-21.36 0-33.8 10-40.46 18.75-4.37 5.59-3 10.84 2.8 15.37l8.58 6.88c5.61 4.56 11 2.47 16.12-2.44a13.44 13.44 0 0 1 9.46-3.84c3.33 0 9.28 1.56 9.28 8.75C51 248.19 0 257.31 0 304.59v4C0 316 5.08 320 12.09 320z"></path></svg>');
  --md-admonition-icon--méthode: var(--md-admonition-icon--mth);
  --md-admonition-icon--methode: var(--md-admonition-icon--mth);
  --md-admonition-icon--method: var(--md-admonition-icon--mth);
}

.md-typeset .admonition.mth,
.md-typeset details.mth,
.md-typeset .admonition.méthode,
.md-typeset details.méthode,
.md-typeset .admonition.methode,
.md-typeset details.methode,
.md-typeset .admonition.method,
.md-typeset details.method {
  border-color: rgb(238, 113, 255);
}

.md-typeset .mth > .admonition-title,
.md-typeset .mth > summary,
.md-typeset .méthode > .admonition-title,
.md-typeset .méthode > summary,
.md-typeset .methode > .admonition-title,
.md-typeset .methode > summary,
.md-typeset .method > .admonition-title,
.md-typeset .method > summary {
  background-color: rgba(238, 113, 255, 0.25);
  border-color: rgb(238, 113, 255);
}

.md-typeset .mth > .admonition-title::before,
.md-typeset .mth > summary::before,
.md-typeset .méthode > .admonition-title::before,
.md-typeset .méthode > summary::before,
.md-typeset .methode > .admonition-title::before,
.md-typeset .methode > summary::before,
.md-typeset .method > .admonition-title::before,
.md-typeset .method > summary::before {
  background-color: rgb(233, 68, 255);
  -webkit-mask-image: var(--md-admonition-icon--mth);
  mask-image: var(--md-admonition-icon--mth);
}

/* not - Notation */
:root {
  --md-admonition-icon--not: url('data:image/svg+xml;charset=utf-8,<svg width="641" height="600" viewBox="0 0 641 600" xmlns="http://www.w3.org/2000/svg"><g transform="translate(7,703.5) scale(0.103,-0.103)"><path fill="rgb(0,0,0)" stroke="none" d="M4674.56,2710.82 C4680.63,2723.27,4691.68,2735.86,4703.12,2743.68 C4715.32,2752.01,4732.07,2757.87,4746.75,2759.51 C4763.1,2761.33,4782.52,2758.74,4798.07,2753.34 C4815.72,2747.21,4834.48,2735.55,4848.3,2722.96 C4864.05,2708.62,4878.8,2688.36,4888.27,2669.27 C4899.01,2647.61,4906.64,2620.32,4909.37,2596.29 C4912.44,2569.23,4910.43,2537.46,4904.59,2510.85 C4898.07,2481.14,4884.77,2448.25,4869.34,2422.03 C4852.26,2393,4827.17,2362.83,4802.14,2340.29 C4774.63,2315.52,4738.51,2292.05,4704.93,2276.46 C4668.29,2259.45,4623.16,2246.38,4583.17,2240.66 C4539.79,2234.45,4488.86,2234.84,4445.51,2241.2 C4398.74,2248.05,4346.17,2263.92,4303.2,2283.62 C4257.08,2304.76,4207.64,2336.83,4169.19,2369.94 C4128.1,2405.33,4086.78,2452.84,4057.02,2498.18 C4025.33,2546.45,3996.88,2607.13,3979.59,2662.22 C3961.24,2720.67,3949.73,2790.82,3947.95,2852.05 C3946.07,2916.82,3954.43,2991.53,3970.13,3054.39 C3986.68,3120.68,4016.41,3194.17,4050.19,3253.57 C4085.73,3316.04,4136.6,3382.11,4187.59,3432.77 C4241.11,3485.93,4311.09,3538.45,4376.87,3575.37 C4445.75,3614.04,4531.04,3647.49,4607.74,3666.4 C4687.9,3686.16,4783.12,3696.14,4865.64,3693.87 C4951.74,3691.51,5050.27,3675.17,5132.66,3650.05 C5218.46,3623.89,5312.89,3580.3,5388.7,3532.35 C5467.54,3482.49,5550.25,3412.8,5613.1,3343.87 C5678.36,3272.29,5742.08,3179.82,5786.13,3093.56 C5831.81,3004.11,5870.27,2894.19,5890.75,2795.86 C5911.97,2694.02,5920.41,2573.71,5914.07,2469.88 C5907.5,2362.46,5883.19,2240.1,5848.61,2138.19 C5812.87,2032.89,5755.4,1917.49,5693.26,1825.27 C5629.11,1730.07,5540.59,1630.71,5453.7,1555.69 C5364.09,1478.32,5249.12,1403.38,5142.36,1352.22 C5032.35,1299.51,4897.8,1256.05,4777.83,1234.01 C4654.31,1211.31,4508.92,1204.41,4383.77,1214.86 C4255.04,1225.6,4108.84,1257.9,3987.41,1301.96 C3862.6,1347.24,3726.24,1418.59,3617.62,1494.95 C3506.05,1573.37,3390.03,1680.72,3302.85,1785.58 C3213.36,1893.22,3127.2,2030.68,3068.95,2157.96 C3009.2,2288.51,2960.72,2447.7,2937.13,2589.32 C2915.61,2702.08,2873.81,2828.42,2823.45,2931.58 C2774.66,3031.51,2703.46,3138.97,2630.12,3222.57 C2559.16,3303.48,2465.35,3385.71,2375.61,3445.11 C2288.85,3502.52,2180.45,3555.36,2081.64,3587.91 C1986.24,3619.33,1871.82,3640.99,1771.51,3646.15 C1674.78,3651.13,1562.84,3642.18,1468.22,3621.45 C1377.11,3601.49,1275.4,3564.71,1192.8,3521.36 C1113.37,3479.69,1028.4,3419.7,962.838,3358.47 C899.891,3299.69,836.477,3222.53,791.384,3149.14 C748.161,3078.8,709.189,2991.35,686.225,2912.05 C664.252,2836.18,650.572,2745.59,649.619,2666.6 C648.709,2591.17,659.198,2504.31,678.483,2431.38 C696.859,2361.89,728.637,2284.81,764.975,2222.79 C799.519,2163.83,848.299,2101.34,897.436,2053.86 C944.028,2008.84,1004.55,1964.24,1061.57,1933.49 C1115.49,1904.41,1182,1879.3,1241.8,1865.97 C1298.15,1853.4,1364.93,1847.69,1422.57,1851 C1476.72,1854.11,1538.52,1866.14,1589.72,1884.03 C1637.62,1900.77,1690.11,1927.55,1731.48,1956.93 C1770.02,1984.29,1810.05,2021.88,1839.37,2058.96 C1866.56,2093.32,1892.36,2137.23,1908.67,2177.9 C1923.7,2215.4,1934.96,2261.02,1938.54,2301.25 C1941.83,2338.13,1939.56,2381.15,1931.87,2417.36 C1924.87,2450.3,1911.28,2487.12,1894.68,2516.43 C1879.69,2542.89,1857.85,2570.86,1835.38,2591.36 C1815.26,2609.72,1788.76,2627.35,1763.78,2638.22 C1741.61,2647.87,1714.16,2654.91,1690.02,2656.43 C1668.76,2657.78,1643.84,2655.14,1623.54,2648.67 C1605.74,2642.99,1586.25,2632.58,1572.12,2620.35 C1559.68,2609.59,1547.72,2594.07,1541.12,2579 C1535.2,2565.47,1531.9,2548.03,1533.02,2533.3 C1534.06,2519.48,1539.44,2503.62,1547.19,2492.13 C1554.94,2480.64,1560.32,2464.78,1561.37,2450.96 C1562.49,2436.23,1559.19,2418.79,1553.27,2405.26 C1546.67,2390.19,1534.71,2374.67,1522.27,2363.9 C1508.14,2351.68,1488.65,2341.26,1470.84,2335.59 C1450.55,2329.12,1425.63,2326.48,1404.36,2327.82 C1380.23,2329.35,1352.78,2336.39,1330.61,2346.04 C1305.63,2356.91,1279.13,2374.54,1259.01,2392.9 C1236.54,2413.4,1214.7,2441.36,1199.71,2467.83 C1183.11,2497.14,1169.52,2533.95,1162.52,2566.9 C1154.82,2603.11,1152.56,2646.13,1155.84,2683 C1159.43,2723.24,1170.68,2768.86,1185.72,2806.35 C1202.03,2847.02,1227.83,2890.93,1255.02,2925.3 C1284.34,2962.37,1324.37,2999.97,1362.91,3027.33 C1404.28,3056.71,1456.77,3083.49,1504.67,3100.23 C1555.87,3118.12,1617.67,3130.14,1671.82,3133.25 C1729.46,3136.56,1796.24,3130.86,1852.59,3118.29 C1912.38,3104.95,1978.9,3079.85,2032.81,3050.77 C2089.84,3020.02,2150.36,2975.42,2196.95,2930.4 C2246.09,2882.91,2294.87,2820.42,2329.41,2761.47 C2365.75,2699.45,2397.53,2622.37,2415.91,2552.88 C2435.19,2479.95,2445.68,2393.09,2444.77,2317.66 C2443.82,2238.67,2430.14,2148.08,2408.16,2072.21 C2385.2,1992.9,2346.23,1905.45,2303,1835.11 C2257.91,1761.73,2194.5,1684.57,2131.55,1625.78 C2065.99,1564.56,1981.02,1504.57,1901.59,1462.89 C1818.99,1419.55,1717.28,1382.77,1626.16,1362.8 C1531.55,1342.07,1419.61,1333.12,1322.87,1338.1 C1222.56,1343.27,1108.15,1364.92,1012.75,1396.35 C913.941,1428.9,805.534,1481.74,718.783,1539.15 C629.041,1598.54,535.229,1680.78,464.264,1761.68 C390.933,1845.28,319.733,1952.75,270.941,2052.68 C220.574,2155.84,178.78,2282.17,157.255,2394.93 C135.057,2511.22,127.642,2648.26,136.719,2766.3 C146.072,2887.92,175.706,3026.18,216.605,3141.1 C258.71,3259.41,325.43,3388.78,397.049,3491.94 C470.719,3598.04,571.787,3708.51,670.66,3791.64 C772.286,3877.09,902.253,3959.51,1022.69,4015.4 C1146.39,4072.8,1297.37,4119.61,1431.78,4142.68 C1569.73,4166.36,1731.86,4172.24,1871.21,4159.05 C2014.15,4145.53,2176.25,4107.92,2310.69,4057.53 C2419.11,4019.79,2549.42,3992.81,2663.94,3984.86 C2774.87,3977.15,2903.54,3985.07,3012.61,4006.78 C3118.15,4027.79,3236.28,4067.91,3332.58,4115.93 C3425.68,4162.36,3525.65,4229.82,3603.24,4299.11 C3678.15,4366.02,3754.11,4454.28,3808.74,4538.57 C3861.42,4619.85,3909.64,4721.27,3939,4813.58 C3967.27,4902.47,3986.26,5008.94,3990.03,5102.14 C3993.65,5191.77,3984.19,5295.35,3963.94,5382.74 C3944.5,5466.65,3909.39,5560.15,3868.39,5635.89 C3829.08,5708.49,3772.83,5785.97,3715.64,5845.51 C3660.91,5902.48,3589.3,5959.62,3521.37,5999.94 C3456.5,6038.44,3376.03,6072.79,3303.24,6092.55 C3233.87,6111.38,3151.22,6122.4,3079.34,6121.94 C3011.01,6121.5,2932.51,6110.5,2866.82,6091.69 C2804.53,6073.85,2735.65,6043.74,2680.5,6009.73 C2628.36,5977.57,2573.36,5932.52,2531.92,5887.41 C2492.85,5844.89,2454.52,5789.91,2428.57,5738.34 C2404.19,5689.89,2383.7,5630.35,2373.6,5577.07 C2364.14,5527.22,2361.09,5468.37,2365.85,5417.85 C2370.27,5370.79,2382.82,5317.33,2400.26,5273.4 C2416.43,5232.67,2441.56,5188.37,2468.62,5153.91 C2493.58,5122.14,2527.46,5089.59,2560.51,5066.37 C2590.8,5045.08,2629.19,5025.54,2664.39,5014.1 C2696.43,5003.69,2735.11,4997.05,2768.79,4996.77 C2799.2,4996.51,2834.34,5001.45,2863.33,5010.66 C2889.29,5018.9,2917.81,5033.04,2939.71,5049.23 C2959.16,5063.61,2978.98,5083.86,2992.37,5104 C3004.16,5121.74,3014.33,5144.64,3018.88,5165.46 C3022.87,5183.71,3023.59,5205.8,3020.07,5224.15 C3016.97,5240.31,3009.51,5258.43,2999.76,5271.67 C2991,5283.57,2977.55,5295.14,2964.23,5301.54 C2951.74,5307.54,2935.31,5310.81,2921.49,5309.85 C2907.66,5308.88,2891.24,5312.15,2878.75,5318.16 C2865.43,5324.56,2851.98,5336.13,2843.22,5348.02 C2833.46,5361.27,2826,5379.39,2822.9,5395.55 C2819.39,5413.9,2820.11,5435.98,2824.1,5454.24 C2828.64,5475.05,2838.81,5497.95,2850.61,5515.7 C2864,5535.83,2883.82,5556.08,2903.26,5570.46 C2925.16,5586.66,2953.68,5600.79,2979.64,5609.04 C3008.63,5618.25,3043.77,5623.18,3074.19,5622.93 C3107.87,5622.65,3146.55,5616.01,3178.58,5605.6 C3213.79,5594.16,3252.18,5574.61,3282.46,5553.33 C3315.52,5530.1,3349.4,5497.55,3374.35,5465.78 C3401.42,5431.32,3426.54,5387.02,3442.71,5346.3 C3460.16,5302.36,3472.7,5248.9,3477.13,5201.84 C3481.88,5151.32,3478.83,5092.48,3469.38,5042.62 C3459.27,4989.34,3438.79,4929.8,3414.41,4881.36 C3388.45,4829.78,3350.12,4774.81,3311.06,4732.29 C3269.61,4687.17,3214.62,4642.12,3162.48,4609.97 C3107.33,4575.96,3038.45,4545.84,2976.16,4528.01 C2910.47,4509.19,2831.96,4498.19,2763.63,4497.76 C2691.76,4497.3,2609.11,4508.32,2539.74,4527.15 C2466.94,4546.91,2386.47,4581.26,2321.6,4619.76 C2253.67,4660.08,2182.06,4717.22,2127.34,4774.19 C2070.14,4833.73,2013.89,4911.2,1974.59,4983.81 C1933.59,5059.55,1898.47,5153.05,1879.03,5236.95 C1858.79,5324.34,1849.33,5427.92,1852.95,5517.55 C1856.71,5610.76,1875.71,5717.23,1903.98,5806.12 C1933.33,5898.42,1981.55,5999.85,2034.23,6081.13 C2088.86,6165.42,2164.82,6253.68,2239.74,6320.58 C2317.33,6389.88,2417.3,6457.34,2510.39,6503.76 C2606.7,6551.79,2724.82,6591.91,2830.37,6612.92 C2939.43,6634.62,3068.1,6642.55,3179.04,6634.84 C3293.56,6626.88,3423.87,6599.91,3532.28,6562.17 C3644.09,6523.25,3766.48,6461.15,3864.16,6394.27 C3964.82,6325.36,4069.73,6230.57,4148.81,6137.69 C4230.22,6042.07,4308.89,5919.6,4362.42,5806 C4417.48,5689.15,4462.61,5546.38,4485.17,5419.19 C4508.35,5288.46,4514.75,5134.69,4502.93,5002.45 C4490.79,4866.61,4455.84,4712.46,4408.62,4584.53 C4360.15,4453.21,4284.18,4309.87,4203.08,4195.78 C4119.9,4078.75,4006.27,3957.18,3895.42,3865.94 C3808.52,3790.92,3720.01,3691.56,3655.86,3596.36 C3593.71,3504.14,3536.24,3388.74,3500.51,3283.44 C3465.93,3181.53,3441.61,3059.17,3435.05,2951.75 C3428.7,2847.92,3437.14,2727.61,3458.36,2625.77 C3478.85,2527.44,3517.3,2417.52,3562.98,2328.07 C3607.03,2241.81,3670.76,2149.34,3736.02,2077.76 C3798.87,2008.83,3881.58,1939.14,3960.41,1889.28 C4036.22,1841.33,4130.66,1797.74,4216.46,1771.58 C4298.84,1746.46,4397.37,1730.12,4483.47,1727.76 C4566,1725.49,4661.22,1735.47,4741.38,1755.23 C4818.08,1774.14,4903.37,1807.59,4972.25,1846.26 C5038.03,1883.18,5108.01,1935.7,5161.52,1988.86 C5212.51,2039.52,5263.38,2105.59,5298.92,2168.06 C5332.71,2227.46,5362.43,2300.95,5378.99,2367.24 C5394.68,2430.1,5403.05,2504.81,5401.17,2569.58 C5399.39,2630.81,5387.87,2700.96,5369.53,2759.41 C5352.23,2814.5,5323.79,2875.19,5292.1,2923.45 C5262.33,2968.79,5221.02,3016.3,5179.92,3051.69 C5141.48,3084.8,5092.04,3116.87,5045.91,3138.01 C5002.95,3157.71,4950.37,3173.58,4903.61,3180.43 C4860.25,3186.79,4809.32,3187.18,4765.95,3180.97 C4725.96,3175.25,4680.83,3162.18,4644.18,3145.17 C4610.61,3129.58,4574.49,3106.11,4546.98,3081.34 C4521.94,3058.8,4496.86,3028.63,4479.77,2999.6 C4464.34,2973.38,4451.05,2940.49,4444.53,2910.78 C4438.69,2884.17,4436.67,2852.4,4439.75,2825.34 C4442.48,2801.31,4450.1,2774.02,4460.85,2752.36 C4470.31,2733.27,4485.06,2713.01,4500.82,2698.67 C4514.63,2686.08,4533.4,2674.42,4551.05,2668.29 C4566.59,2662.89,4586.01,2660.3,4602.36,2662.12 C4617.05,2663.76,4633.79,2669.62,4645.99,2677.95 C4657.44,2685.77,4668.48,2698.36,4674.56,2710.82Z"/></g></svg>');
  --md-admonition-icon--nota: var(--md-admonition-icon--not);
  --md-admonition-icon--notation: var(--md-admonition-icon--not);
}

.md-typeset .admonition.not,
.md-typeset details.not,
.md-typeset .admonition.nota,
.md-typeset details.nota,
.md-typeset .admonition.notation,
.md-typeset details.notation {
  border-color: rgb(238, 113, 255);
}

.md-typeset .not > .admonition-title,
.md-typeset .not > summary,
.md-typeset .nota > .admonition-title,
.md-typeset .nota > summary,
.md-typeset .notation > .admonition-title,
.md-typeset .notation > summary {
  background-color: rgba(238, 113, 255, 0.25);
  border-color: rgb(238, 113, 255);
}

.md-typeset .not > .admonition-title::before,
.md-typeset .not > summary::before,
.md-typeset .nota > .admonition-title::before,
.md-typeset .nota > summary::before,
.md-typeset .notation > .admonition-title::before,
.md-typeset .notation > summary::before {
  background-color: rgb(233, 68, 255);
  -webkit-mask-image: var(--md-admonition-icon--not);
  mask-image: var(--md-admonition-icon--not);
}

/* rep - Réponse */
:root {
  --md-admonition-icon--rep: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata><g><path d="M694.4,201.1L215.1,680.4c-27.8,27.8-27.8,72.8,0,100.5c27.7,27.8,72.8,27.8,100.5,0l479.3-479.3L694.4,201.1z M666.9,173.7l-53.3-53.3c-1.5,1.1-2.9,2.1-4.3,3.5L130,603.1c-14.9,14.9-14.9,39.2,0,54.1c14.9,14.9,39.2,14.9,54.1,0l479.3-479.3C664.8,176.6,665.8,175.1,666.9,173.7z M821.3,328c-1.5,1.1-2.9,2.1-4.3,3.5L337.8,810.8c-14.9,14.9-14.9,39.2,0,54.1c14.9,14.9,39.2,14.9,54.1,0l479.3-479.3c1.3-1.3,2.4-2.8,3.5-4.2L821.3,328z"/><path d="M283.3,850.6c-153.1,0-131.2-131.2-131.2-131.2c-65.6,0-76.5-43.7-76.5-43.7L10,992.7l328-76.5C276.8,903,283.3,850.6,283.3,850.6z"/><path d="M959.8,154.1L843.2,37.5C803-2.8,737.7-2.8,697.5,37.5L646.9,88l262.3,262.3l50.5-50.5C1000.1,259.6,1000.1,194.3,959.8,154.1z"/></g></svg>');
  --md-admonition-icon--reponse: var(--md-admonition-icon--rep);
  --md-admonition-icon--answer: var(--md-admonition-icon--rep);
}

.md-typeset .admonition.rep,
.md-typeset details.rep,
.md-typeset .admonition.rép,
.md-typeset details.rép,
.md-typeset .admonition.reponse,
.md-typeset details.reponse,
.md-typeset .admonition.answer,
.md-typeset details.answer {
  border-color: #f82e2e;
  color: var(--correction-color);
  font-weight: 500;
}

.md-typeset .rep > .admonition-title,
.md-typeset .rep > summary,
.md-typeset .rép > .admonition-title,
.md-typeset .rép > summary,
.md-typeset .reponse > .admonition-title,
.md-typeset .reponse > summary,
.md-typeset .answer > .admonition-title,
.md-typeset .answer > summary {
  background-color: rgba(248, 46, 46, 0.1411764706);
  border-color: #f82e2e;
  color: #f82e2e;
}

.md-typeset .rep > .admonition-title::before,
.md-typeset .rep > summary::before,
.md-typeset .rép > .admonition-title::before,
.md-typeset .rép > summary::before,
.md-typeset .reponse > .admonition-title::before,
.md-typeset .reponse > summary::before,
.md-typeset .answer > .admonition-title::before,
.md-typeset .answer > summary::before {
  background-color: #f82e2e;
  -webkit-mask-image: var(--md-admonition-icon--cor);
  mask-image: var(--md-admonition-icon--cor);
}

/* cor - corr - Corrigé */
:root {
  --md-admonition-icon--cor: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata><g><path d="M694.4,201.1L215.1,680.4c-27.8,27.8-27.8,72.8,0,100.5c27.7,27.8,72.8,27.8,100.5,0l479.3-479.3L694.4,201.1z M666.9,173.7l-53.3-53.3c-1.5,1.1-2.9,2.1-4.3,3.5L130,603.1c-14.9,14.9-14.9,39.2,0,54.1c14.9,14.9,39.2,14.9,54.1,0l479.3-479.3C664.8,176.6,665.8,175.1,666.9,173.7z M821.3,328c-1.5,1.1-2.9,2.1-4.3,3.5L337.8,810.8c-14.9,14.9-14.9,39.2,0,54.1c14.9,14.9,39.2,14.9,54.1,0l479.3-479.3c1.3-1.3,2.4-2.8,3.5-4.2L821.3,328z"/><path d="M283.3,850.6c-153.1,0-131.2-131.2-131.2-131.2c-65.6,0-76.5-43.7-76.5-43.7L10,992.7l328-76.5C276.8,903,283.3,850.6,283.3,850.6z"/><path d="M959.8,154.1L843.2,37.5C803-2.8,737.7-2.8,697.5,37.5L646.9,88l262.3,262.3l50.5-50.5C1000.1,259.6,1000.1,194.3,959.8,154.1z"/></g></svg>');
  --md-admonition-icon--corr: var(--md-admonition-icon--cor);
  --md-admonition-icon--corrige: var(--md-admonition-icon--cor);
  --md-admonition-icon--correction: var(--md-admonition-icon--cor);
}

.md-typeset .admonition.cor,
.md-typeset details.cor,
.md-typeset .admonition.corr,
.md-typeset details.corr,
.md-typeset .admonition.corrige,
.md-typeset details.corrige,
.md-typeset .admonition.correction,
.md-typeset details.correction {
  border-color: #f82e2e;
  color: var(--correction-color);
  font-weight: 500;
}

.md-typeset .cor > .admonition-title,
.md-typeset .cor > summary,
.md-typeset .corr > .admonition-title,
.md-typeset .corr > summary,
.md-typeset .corrige > .admonition-title,
.md-typeset .corrige > summary,
.md-typeset .correction > .admonition-title,
.md-typeset .correction > summary {
  background-color: rgba(248, 46, 46, 0.1411764706);
  border-color: #f82e2e;
  color: #f82e2e;
}

.md-typeset .cor > .admonition-title::before,
.md-typeset .cor > summary::before,
.md-typeset .corr > .admonition-title::before,
.md-typeset .corr > summary::before,
.md-typeset .corrige > .admonition-title::before,
.md-typeset .corrige > summary::before,
.md-typeset .correction > .admonition-title::before,
.md-typeset .correction > summary::before {
  background-color: #f82e2e;
  -webkit-mask-image: var(--md-admonition-icon--cor);
          mask-image: var(--md-admonition-icon--cor);
}

/* je retiens / I remember*/
:root {
  /* --md-admonition-icon--jeretiens: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><g><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"><path d="M3900.4,5002c-203-40.2-406-195.4-501.8-385c-61.3-120.7-91.9-293-93.8-503.7c0-72.8-5.7-164.7-11.5-203l-11.5-70.9l-176.2,113c-478.8,310.3-848.5,444.4-1110.9,400.3c-645.5-105.3-915.5-879.1-469.2-1350.3c352.4-373.5,815.9-339,1541.8,116.8c90,57.5,172.4,103.4,180,103.4s9.6-40.2,5.7-90c-7.7-101.5-55.5-1195.2-74.7-1731.5l-13.4-339l-136-51.7c-360.1-139.8-637.8-308.4-837-507.6C1973.6,284.6,1851,31.8,1799.3-311c-139.8-921.3,371.6-1882.8,1513.1-2838.5l174.3-147.5l11.5-229.8c17.2-342.8,116.8-589.9,333.3-831.2c107.3-118.8,331.3-272,482.7-329.4c245.2-91.9,339-97.7,1618.4-90c1074.5,5.7,1204.7,9.6,1308.2,40.2c379.2,111.1,668.4,352.4,835.1,693.3c74.7,153.2,130.3,360.1,132.2,480.8c0,32.6,7.7,65.1,17.2,70.9c30.6,19.2,227.9,478.8,306.5,712.5c40.2,124.5,95.8,327.5,120.7,448.2c40.2,199.2,44.1,266.2,42.1,708.7c-3.8,498-24.9,844.7-76.6,1254.5c-84.3,668.4-191.5,973-421.4,1208.6c-170.5,176.2-390.7,256.7-704.9,256.7h-155.1l-46,105.3c-57.5,132.1-233.7,325.6-377.3,411.8c-164.7,99.6-316,132.1-620.6,134.1H6034l-47.9,111.1c-32.6,74.7-90,151.3-182,243.3c-229.8,231.7-406.1,296.9-789.1,296.9h-235.6v413.7c0,323.7,5.7,411.8,24.9,404.1c11.5-3.8,95.8-53.6,185.8-109.2c381.2-233.7,724-363.9,953.8-363.9c298.8,0,597.6,195.4,727.8,475c46,97.7,51.7,132.2,51.7,329.4c0,208.8-3.8,227.9-61.3,348.6c-151.3,321.8-517.1,515.2-852.3,455.8c-216.4-40.2-488.4-160.9-821.7-365.8c-101.5-61.3-189.6-113-195.4-113c-5.8,0-13.4,136-17.2,302.6c-5.7,281.6-9.6,306.4-59.4,408c-107.3,218.3-296.9,369.7-526.7,417.5C4074.7,5025,4021,5026.9,3900.4,5002z M4201.1,4668.8c180-76.6,272-241.3,272-492.2v-130.2h-427.1h-429l9.6,159c13.4,254.7,103.4,408,281.6,469.3C3994.2,4705.2,4120.6,4701.3,4201.1,4668.8z M2349,3988.8c222.2-80.4,783.4-396.5,783.4-440.5c0-46-612.9-381.2-823.6-452c-339-113-653.1,78.5-683.8,413.7c-19.2,206.8,95.8,400.3,291.1,490.3C2046.3,4061.6,2157.4,4059.7,2349,3988.8z M6120.2,4006.1c304.5-137.9,400.3-515.2,193.5-766.1c-136-162.8-352.4-216.4-586.1-141.7c-206.8,67-814,402.2-814,450.1c0,23,285.4,201.1,496.1,312.2C5756.3,4044.4,5949.8,4084.6,6120.2,4006.1z M4469.2,3554.1l-5.7-168.5l-434.8-5.8l-436.7-3.8v159c0,88.1,5.7,166.6,13.4,172.4c5.7,7.7,204.9,13.4,440.5,13.4h429L4469.2,3554.1z M4473.1,1642.6c0-1394.3,0-1426.9,38.3-1465.2c55.5-55.5,120.7-65.1,189.6-30.7c32.6,17.2,61.3,34.5,63.2,36.4c3.8,1.9,9.6,430.9,15.3,951.9l9.6,948.1l178.1,5.7c379.2,11.5,622.5-120.7,756.6-411.8c42.1-90,42.1-111.1,51.7-1022.8c9.6-882.9,11.5-934.7,46-973c51.7-55.5,162.8-53.6,218.3,3.8c42.1,44.1,42.1,51.7,46,896.4l5.7,850.4l229.8-1.9c187.7-1.9,250.9-11.5,344.8-46c136-53.6,285.4-193.5,354.3-335.2c47.9-95.8,47.9-99.6,57.5-810.2l9.6-716.3l46-36.4c44.1-36.4,124.5-47.9,183.9-24.9c78.5,30.7,86.2,91.9,86.2,718.2v595.7l178.1-7.7c149.4-5.7,191.5-15.3,264.3-57.5c245.2-143.6,354.3-385,438.6-971.1c59.4-423.3,78.5-672.3,90-1227.7c11.5-574.6,0-699.1-99.6-1043.8c-67-231.7-132.2-358.2-241.3-459.7c-116.8-109.2-201.1-143.7-404.1-159c-178.1-15.3-231.7-42.1-252.8-130.2c-17.2-65.1,36.4-157.1,95.8-172.4c28.7-7.7,136-7.7,241.3-1.9l191.5,9.6l-13.4-107.2c-49.8-436.7-365.8-798.7-771.9-883c-134.1-28.7-2428.6-28.7-2551.2,0c-224.1,51.7-482.7,235.6-611,436.7c-74.7,114.9-130.2,275.8-147.5,421.4c-11.5,105.3-9.6,113,28.7,126.4c61.3,19.2,105.3,120.7,80.4,183.9c-9.6,28.7-116.8,130.3-245.2,231.8C2822-2350.9,2327.9-1715,2153.6-1073.3c-57.5,214.5-70.9,580.3-26.8,792.9c80.4,400.3,321.8,670.4,802.5,900.2c113,53.6,208.8,95.8,212.6,91.9c5.7-7.6,24.9-616.7,28.7-873.4c0-97.7,7.7-126.4,42.1-159c57.5-53.6,159-49.8,214.5,5.7l44.1,44.1l11.5,881c9.6,793,55.6,2101.1,82.4,2359.7l9.6,99.6h450.1h448.2V1642.6z"/></g></g></svg>'); */
  --md-admonition-icon--jeretiens: url("../images/jeretiens.svg");
  --md-admonition-icon--iremember: var(--md-admonition-icon--jeretiens);
}

.md-typeset .admonition.jeretiens,
.md-typeset details.jeretiens,
.md-typeset .admonition.iremember,
.md-typeset details.iremember {
  border-color: #f82e2e;
}

.md-typeset .jeretiens > .admonition-title,
.md-typeset .jeretiens > summary,
.md-typeset .iremember > .admonition-title,
.md-typeset .iremember > summary {
  background-color: rgba(248, 46, 46, 0.6156862745);
  border-color: #f82e2e;
}

.md-typeset .jeretiens > .admonition-title::before,
.md-typeset .jeretiens > summary::before,
.md-typeset .iremember > .admonition-title::before,
.md-typeset .iremember > summary::before {
  background-color: var(--md-admonition-fg-color);
  -webkit-mask-image: var(--md-admonition-icon--jeretiens);
  mask-image: var(--md-admonition-icon--jeretiens);
}

/* Film / Films  / Movies */
:root {
  /* --md-admonition-icon--jeretiens: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><g><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"><path d="M3900.4,5002c-203-40.2-406-195.4-501.8-385c-61.3-120.7-91.9-293-93.8-503.7c0-72.8-5.7-164.7-11.5-203l-11.5-70.9l-176.2,113c-478.8,310.3-848.5,444.4-1110.9,400.3c-645.5-105.3-915.5-879.1-469.2-1350.3c352.4-373.5,815.9-339,1541.8,116.8c90,57.5,172.4,103.4,180,103.4s9.6-40.2,5.7-90c-7.7-101.5-55.5-1195.2-74.7-1731.5l-13.4-339l-136-51.7c-360.1-139.8-637.8-308.4-837-507.6C1973.6,284.6,1851,31.8,1799.3-311c-139.8-921.3,371.6-1882.8,1513.1-2838.5l174.3-147.5l11.5-229.8c17.2-342.8,116.8-589.9,333.3-831.2c107.3-118.8,331.3-272,482.7-329.4c245.2-91.9,339-97.7,1618.4-90c1074.5,5.7,1204.7,9.6,1308.2,40.2c379.2,111.1,668.4,352.4,835.1,693.3c74.7,153.2,130.3,360.1,132.2,480.8c0,32.6,7.7,65.1,17.2,70.9c30.6,19.2,227.9,478.8,306.5,712.5c40.2,124.5,95.8,327.5,120.7,448.2c40.2,199.2,44.1,266.2,42.1,708.7c-3.8,498-24.9,844.7-76.6,1254.5c-84.3,668.4-191.5,973-421.4,1208.6c-170.5,176.2-390.7,256.7-704.9,256.7h-155.1l-46,105.3c-57.5,132.1-233.7,325.6-377.3,411.8c-164.7,99.6-316,132.1-620.6,134.1H6034l-47.9,111.1c-32.6,74.7-90,151.3-182,243.3c-229.8,231.7-406.1,296.9-789.1,296.9h-235.6v413.7c0,323.7,5.7,411.8,24.9,404.1c11.5-3.8,95.8-53.6,185.8-109.2c381.2-233.7,724-363.9,953.8-363.9c298.8,0,597.6,195.4,727.8,475c46,97.7,51.7,132.2,51.7,329.4c0,208.8-3.8,227.9-61.3,348.6c-151.3,321.8-517.1,515.2-852.3,455.8c-216.4-40.2-488.4-160.9-821.7-365.8c-101.5-61.3-189.6-113-195.4-113c-5.8,0-13.4,136-17.2,302.6c-5.7,281.6-9.6,306.4-59.4,408c-107.3,218.3-296.9,369.7-526.7,417.5C4074.7,5025,4021,5026.9,3900.4,5002z M4201.1,4668.8c180-76.6,272-241.3,272-492.2v-130.2h-427.1h-429l9.6,159c13.4,254.7,103.4,408,281.6,469.3C3994.2,4705.2,4120.6,4701.3,4201.1,4668.8z M2349,3988.8c222.2-80.4,783.4-396.5,783.4-440.5c0-46-612.9-381.2-823.6-452c-339-113-653.1,78.5-683.8,413.7c-19.2,206.8,95.8,400.3,291.1,490.3C2046.3,4061.6,2157.4,4059.7,2349,3988.8z M6120.2,4006.1c304.5-137.9,400.3-515.2,193.5-766.1c-136-162.8-352.4-216.4-586.1-141.7c-206.8,67-814,402.2-814,450.1c0,23,285.4,201.1,496.1,312.2C5756.3,4044.4,5949.8,4084.6,6120.2,4006.1z M4469.2,3554.1l-5.7-168.5l-434.8-5.8l-436.7-3.8v159c0,88.1,5.7,166.6,13.4,172.4c5.7,7.7,204.9,13.4,440.5,13.4h429L4469.2,3554.1z M4473.1,1642.6c0-1394.3,0-1426.9,38.3-1465.2c55.5-55.5,120.7-65.1,189.6-30.7c32.6,17.2,61.3,34.5,63.2,36.4c3.8,1.9,9.6,430.9,15.3,951.9l9.6,948.1l178.1,5.7c379.2,11.5,622.5-120.7,756.6-411.8c42.1-90,42.1-111.1,51.7-1022.8c9.6-882.9,11.5-934.7,46-973c51.7-55.5,162.8-53.6,218.3,3.8c42.1,44.1,42.1,51.7,46,896.4l5.7,850.4l229.8-1.9c187.7-1.9,250.9-11.5,344.8-46c136-53.6,285.4-193.5,354.3-335.2c47.9-95.8,47.9-99.6,57.5-810.2l9.6-716.3l46-36.4c44.1-36.4,124.5-47.9,183.9-24.9c78.5,30.7,86.2,91.9,86.2,718.2v595.7l178.1-7.7c149.4-5.7,191.5-15.3,264.3-57.5c245.2-143.6,354.3-385,438.6-971.1c59.4-423.3,78.5-672.3,90-1227.7c11.5-574.6,0-699.1-99.6-1043.8c-67-231.7-132.2-358.2-241.3-459.7c-116.8-109.2-201.1-143.7-404.1-159c-178.1-15.3-231.7-42.1-252.8-130.2c-17.2-65.1,36.4-157.1,95.8-172.4c28.7-7.7,136-7.7,241.3-1.9l191.5,9.6l-13.4-107.2c-49.8-436.7-365.8-798.7-771.9-883c-134.1-28.7-2428.6-28.7-2551.2,0c-224.1,51.7-482.7,235.6-611,436.7c-74.7,114.9-130.2,275.8-147.5,421.4c-11.5,105.3-9.6,113,28.7,126.4c61.3,19.2,105.3,120.7,80.4,183.9c-9.6,28.7-116.8,130.3-245.2,231.8C2822-2350.9,2327.9-1715,2153.6-1073.3c-57.5,214.5-70.9,580.3-26.8,792.9c80.4,400.3,321.8,670.4,802.5,900.2c113,53.6,208.8,95.8,212.6,91.9c5.7-7.6,24.9-616.7,28.7-873.4c0-97.7,7.7-126.4,42.1-159c57.5-53.6,159-49.8,214.5,5.7l44.1,44.1l11.5,881c9.6,793,55.6,2101.1,82.4,2359.7l9.6,99.6h450.1h448.2V1642.6z"/></g></g></svg>'); */
  --md-admonition-icon--film: url("../images/film.svg");
  --md-admonition-icon--films: var(--md-admonition-icon--film);
  --md-admonition-icon--movies: var(--md-admonition-icon--film);
}

.md-typeset .admonition.film,
.md-typeset details.film,
.md-typeset .admonition.films,
.md-typeset details.films,
.md-typeset .admonition.movie,
.md-typeset details.movie,
.md-typeset .admonition.movies,
.md-typeset details.movies {
  border-color: #f82e2e;
}

.md-typeset .film > .admonition-title,
.md-typeset .film > summary,
.md-typeset .films > .admonition-title,
.md-typeset .films > summary,
.md-typeset .movie > .admonition-title,
.md-typeset .movie > summary,
.md-typeset .movies > .admonition-title,
.md-typeset .movies > summary {
  background: url("../images/affiche.jpg");
}

.md-typeset .film > .admonition-title::before,
.md-typeset .film > summary::before,
.md-typeset .films > .admonition-title::before,
.md-typeset .films > summary::before,
.md-typeset .movie > .admonition-title::before,
.md-typeset .movie > summary::before,
.md-typeset .movies > .admonition-title::before,
.md-typeset .movies > summary::before {
  background-color: var(--md-admonition-fg-color);
  -webkit-mask-image: var(--md-admonition-icon--film);
          mask-image: var(--md-admonition-icon--film);
}

/* Ref / References / Références */
:root {
  /* --md-admonition-icon--jeretiens: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><g><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"><path d="M3900.4,5002c-203-40.2-406-195.4-501.8-385c-61.3-120.7-91.9-293-93.8-503.7c0-72.8-5.7-164.7-11.5-203l-11.5-70.9l-176.2,113c-478.8,310.3-848.5,444.4-1110.9,400.3c-645.5-105.3-915.5-879.1-469.2-1350.3c352.4-373.5,815.9-339,1541.8,116.8c90,57.5,172.4,103.4,180,103.4s9.6-40.2,5.7-90c-7.7-101.5-55.5-1195.2-74.7-1731.5l-13.4-339l-136-51.7c-360.1-139.8-637.8-308.4-837-507.6C1973.6,284.6,1851,31.8,1799.3-311c-139.8-921.3,371.6-1882.8,1513.1-2838.5l174.3-147.5l11.5-229.8c17.2-342.8,116.8-589.9,333.3-831.2c107.3-118.8,331.3-272,482.7-329.4c245.2-91.9,339-97.7,1618.4-90c1074.5,5.7,1204.7,9.6,1308.2,40.2c379.2,111.1,668.4,352.4,835.1,693.3c74.7,153.2,130.3,360.1,132.2,480.8c0,32.6,7.7,65.1,17.2,70.9c30.6,19.2,227.9,478.8,306.5,712.5c40.2,124.5,95.8,327.5,120.7,448.2c40.2,199.2,44.1,266.2,42.1,708.7c-3.8,498-24.9,844.7-76.6,1254.5c-84.3,668.4-191.5,973-421.4,1208.6c-170.5,176.2-390.7,256.7-704.9,256.7h-155.1l-46,105.3c-57.5,132.1-233.7,325.6-377.3,411.8c-164.7,99.6-316,132.1-620.6,134.1H6034l-47.9,111.1c-32.6,74.7-90,151.3-182,243.3c-229.8,231.7-406.1,296.9-789.1,296.9h-235.6v413.7c0,323.7,5.7,411.8,24.9,404.1c11.5-3.8,95.8-53.6,185.8-109.2c381.2-233.7,724-363.9,953.8-363.9c298.8,0,597.6,195.4,727.8,475c46,97.7,51.7,132.2,51.7,329.4c0,208.8-3.8,227.9-61.3,348.6c-151.3,321.8-517.1,515.2-852.3,455.8c-216.4-40.2-488.4-160.9-821.7-365.8c-101.5-61.3-189.6-113-195.4-113c-5.8,0-13.4,136-17.2,302.6c-5.7,281.6-9.6,306.4-59.4,408c-107.3,218.3-296.9,369.7-526.7,417.5C4074.7,5025,4021,5026.9,3900.4,5002z M4201.1,4668.8c180-76.6,272-241.3,272-492.2v-130.2h-427.1h-429l9.6,159c13.4,254.7,103.4,408,281.6,469.3C3994.2,4705.2,4120.6,4701.3,4201.1,4668.8z M2349,3988.8c222.2-80.4,783.4-396.5,783.4-440.5c0-46-612.9-381.2-823.6-452c-339-113-653.1,78.5-683.8,413.7c-19.2,206.8,95.8,400.3,291.1,490.3C2046.3,4061.6,2157.4,4059.7,2349,3988.8z M6120.2,4006.1c304.5-137.9,400.3-515.2,193.5-766.1c-136-162.8-352.4-216.4-586.1-141.7c-206.8,67-814,402.2-814,450.1c0,23,285.4,201.1,496.1,312.2C5756.3,4044.4,5949.8,4084.6,6120.2,4006.1z M4469.2,3554.1l-5.7-168.5l-434.8-5.8l-436.7-3.8v159c0,88.1,5.7,166.6,13.4,172.4c5.7,7.7,204.9,13.4,440.5,13.4h429L4469.2,3554.1z M4473.1,1642.6c0-1394.3,0-1426.9,38.3-1465.2c55.5-55.5,120.7-65.1,189.6-30.7c32.6,17.2,61.3,34.5,63.2,36.4c3.8,1.9,9.6,430.9,15.3,951.9l9.6,948.1l178.1,5.7c379.2,11.5,622.5-120.7,756.6-411.8c42.1-90,42.1-111.1,51.7-1022.8c9.6-882.9,11.5-934.7,46-973c51.7-55.5,162.8-53.6,218.3,3.8c42.1,44.1,42.1,51.7,46,896.4l5.7,850.4l229.8-1.9c187.7-1.9,250.9-11.5,344.8-46c136-53.6,285.4-193.5,354.3-335.2c47.9-95.8,47.9-99.6,57.5-810.2l9.6-716.3l46-36.4c44.1-36.4,124.5-47.9,183.9-24.9c78.5,30.7,86.2,91.9,86.2,718.2v595.7l178.1-7.7c149.4-5.7,191.5-15.3,264.3-57.5c245.2-143.6,354.3-385,438.6-971.1c59.4-423.3,78.5-672.3,90-1227.7c11.5-574.6,0-699.1-99.6-1043.8c-67-231.7-132.2-358.2-241.3-459.7c-116.8-109.2-201.1-143.7-404.1-159c-178.1-15.3-231.7-42.1-252.8-130.2c-17.2-65.1,36.4-157.1,95.8-172.4c28.7-7.7,136-7.7,241.3-1.9l191.5,9.6l-13.4-107.2c-49.8-436.7-365.8-798.7-771.9-883c-134.1-28.7-2428.6-28.7-2551.2,0c-224.1,51.7-482.7,235.6-611,436.7c-74.7,114.9-130.2,275.8-147.5,421.4c-11.5,105.3-9.6,113,28.7,126.4c61.3,19.2,105.3,120.7,80.4,183.9c-9.6,28.7-116.8,130.3-245.2,231.8C2822-2350.9,2327.9-1715,2153.6-1073.3c-57.5,214.5-70.9,580.3-26.8,792.9c80.4,400.3,321.8,670.4,802.5,900.2c113,53.6,208.8,95.8,212.6,91.9c5.7-7.6,24.9-616.7,28.7-873.4c0-97.7,7.7-126.4,42.1-159c57.5-53.6,159-49.8,214.5,5.7l44.1,44.1l11.5,881c9.6,793,55.6,2101.1,82.4,2359.7l9.6,99.6h450.1h448.2V1642.6z"/></g></g></svg>'); */
  --md-admonition-icon--reference: url("../images/references.svg");
  --md-admonition-icon--references: var(--md-admonition-icon--reference);
}

.md-typeset .admonition.ref,
.md-typeset details.ref,
.md-typeset .admonition.réf,
.md-typeset details.réf,
.md-typeset .admonition.reference,
.md-typeset details.reference,
.md-typeset .admonition.references,
.md-typeset details.references,
.md-typeset .admonition.référence,
.md-typeset details.référence,
.md-typeset .admonition.références,
.md-typeset details.références {
  border-color: #f82e2e;
}

.md-typeset .ref > .admonition-title,
.md-typeset .ref > summary,
.md-typeset .réf > .admonition-title,
.md-typeset .réf > summary,
.md-typeset .reference > .admonition-title,
.md-typeset .reference > summary,
.md-typeset .references > .admonition-title,
.md-typeset .references > summary,
.md-typeset .référence > .admonition-title,
.md-typeset .référence > summary,
.md-typeset .références > .admonition-title,
.md-typeset .références > summary {
  background-color: rgba(248, 46, 46, 0.6156862745);
  border-color: #f82e2e;
}

.md-typeset .ref > .admonition-title::before,
.md-typeset .ref > summary::before,
.md-typeset .réf > .admonition-title::before,
.md-typeset .réf > summary::before,
.md-typeset .reference > .admonition-title::before,
.md-typeset .reference > summary::before,
.md-typeset .references > .admonition-title::before,
.md-typeset .references > summary::before,
.md-typeset .référence > .admonition-title::before,
.md-typeset .référence > summary::before,
.md-typeset .références > .admonition-title::before,
.md-typeset .références > summary::before {
  background-color: var(--md-admonition-fg-color);
  -webkit-mask-image: var(--md-admonition-icon--reference);
          mask-image: var(--md-admonition-icon--reference);
}/*# sourceMappingURL=massilia-admonitions.css.map */